.charts-container {
  margin-top: -65px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.charts-wrapper {
  padding: 2rem;
  gap: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  display: inline-flex;
  flex: 1;
}

.chart-item {
  box-shadow: 2px 2px 4px #000000;
  border-radius: 11px;
  background-color: white;
}

.chart-div {
  padding: 2rem;
}
