.review-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-wrapper {
  padding: 2rem;
  width: 1620px;
}

.review-header-wrapper {
  padding-bottom: 1rem;
  display: flex;
}

.sentiment-options-container {
  margin-left: 3rem;
  position: relative;
  top: 17px;
}

.review-header {
  font-size: 2rem;
  border-bottom: 3px dashed;
}

.review-section-list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  gap: 1rem;
  list-style-type: none;
}
